// Place all the styles related to the Deductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 992px) {
  #deductions_index {
    margin: auto;
    width: 60rem;

    h1 {
      font-size: 45px;
    }
  }

  #new_deduction {
    margin: auto;
    width: 60rem;

    .input-group {
      width: 90%;
    }

    h1 {
      font-size: 45px;
    }
  }

  #edit_deduction {
    margin: auto;
    width: 60rem;

    h1 {
      font-size: 45px;
    }
  }
}

#deductions_index {
  .btn-group-column {
    min-width: 250px;
  }

  h1 {
    font-size: 27px;
  }
}

#edit_deduction {
  h1 {
    font-size: 27px;
  }
}

#new_deduction {
  h1 {
    font-size: 27px;
  }
}

