@media (min-width: 992px) {
  #forgot_password {
    margin: auto;
    width: 50rem;
  }

  #change_password {
    margin: auto;
    width: 50rem;
  }

  body #forgot_password h1 {
    font-size: 35px;
  }

  body #change_password h1 {
    font-size: 35px;
  }
}

#forgot_password {
  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 27px;
  }
}

#change_password {
  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 27px;
  }
}
