// Place all the styles related to the PayPeriods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 992px) {
  #pay_period_show {
    margin: auto;
    width: 40rem;
  }

  #missing_pay_period {
    margin: auto;
    width: 50rem;
  }

  #pay_periods_index {
    margin: auto;
    width: 80rem;
  }

  #new_pay_period {
    margin: auto;
    width: 60rem;

    .input-group {
      width: 90%;
    }
  }

  body #missing_pay_period h1 {
    font-size: 40px;
  }

  body #missing_pay_period p {
    font-size: 18px;
  }

  body #pay_periods_index h1 {
    font-size: 40px;
  }

  body #new_pay_period h1 {
    font-size: 40px;
  }
}

#progress {
  width: 95%;
}

#balance_progress {
  color: #000;
}

#missing_pay_period {
  h1 {
    font-size: 26px;
  }

  p {
    font-size: 15px;
  }
}

.datepicker_input {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

#pay_periods_index {
  .btn-group-column {
    min-width: 213px;
  }

  h1 {
    font-size: 26px;
  }
}

#new_pay_period {
  h1 {
    font-size: 26px;
  }
}
