// Place all the styles related to the PayPeriods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 992px) {
  #pay_period_show {
    margin: auto;
    width: 40rem;
  }

  #missing_pay_period {
    margin: auto;
    width: 50rem;

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}

#progress {
  width: 95%;
}

#balance_progress {
  color: #000;
}

#missing_pay_period {
  h1 {
    font-size: 26px;
  }

  p {
    font-size: 15px;
  }
}

.datepicker_input {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}
